.Footer {
    background-color: aquamarine;
    padding: 0.7em 3em;
    width: 100%;

    @media all and (min-width: $tablet-width) {
        position: absolute;
        bottom: 0;
        height: $footerHeight;
    }
}

.Footer__copyright {
    display: block;
    @media all and (min-width: $tablet-width) {
        float: left;
        width: 48%;
    }
}

.Footer__acknowledgements {
    display: block;

    @media all and (min-width: $tablet-width) {
        float: right;
        text-align: right;
        width: 48%;
    }
}

