
.Header {
    text-align: center;
    padding: 0.7em 3em;
    background-color: aquamarine;
    width: 100%;

    @media all and (min-width: $tablet-width) {
        position: absolute;
        top: 0;
        height: $headerHeight;
        max-height: $headerHeight;
    }
}

.Header__title {
    @media all and (min-width: $tablet-width){
        font-size: 2em;
    }
}
