
.ReactLogo {
}

.ReactLogo__logo {
    height: 15px;
    width: 15px;
}

.ReactLogo--spinning {
    animation: ReactLogo-spin infinite 20s linear;
}

@keyframes ReactLogo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
