.App {

}

.App__two-column {
    max-width: 100%;
    min-height: 500px;
}

.App__two-column:after {
    content: '';
    display: table;
    clear: both;
}

.App__left-column, .App__right-column {
    display: block;
    max-width: 50%;
    width: 50%;
    margin: 0;
    min-height: 500px;
}

.App__left-column  { float: left; background-color: azure; }
.App__right-column { float: right; background-color: antiquewhite; }
