.App {

}

.App__two-column {
    max-width: 100%;
}

.App__two-column:after {
    content: '';
    display: table;
    clear: both;
}

.App__left-column, .App__right-column {
    display: block;
    max-width: 48%;
    width: 48%;
}

.App__left-column  { float: left; }
.App__right-column { float: right; }
